.object.contact {
  & > div {
    @include flexbox;
    cursor: pointer;

    .tag-button {
      margin: .25em 0;
      color: $blue;
      
      & > i {
        color: $blue;
      }
    }

    & > .tags {
      margin: .25em 0;
    }

    & > .hide-button {
      cursor: pointer;
      color: $orange;

      i {
        color: $orange;
      }
  
      &:hover {
        color: $blue;
  
          i {
            color: $blue;
          }
      }
    }

    .user-avatar {
      .avatar {
        height: 3em;
        max-width: 3em;
        margin-right: 0.5em;
      }

      i {
        color: $font-color-subdue;
        margin-right: 0.25em;
        font-size: 2.5em;
      }
    }

    .details {
      @include flexbox;
      @include flex-x-center;

      align-items: flex-start;

      & > div {
        text-align: start;
      }

    }

    .provider {
      text-transform: uppercase;
      font-size: 0.85em;
      color: $font-color-subdue;

      i {
        margin-right: 0.25em;
      }
    }
    
  }
}

.contact-hidden {
  @include flexbox;
  @include flex-grow;
  @include flex-column;
  @include flex-x-center;

  .unhide-button {
    cursor: pointer;
    color: $orange;

    i {
      color: $orange;
    }

    &:hover {
      color: $blue;

        i {
          color: $blue;
        }
    }
  }
}

div#body.dark {
  .object.contact {
    & > div {
      &:first-child {
        .user-avatar {
          i {
            color: $font-color-subdue-dark;
          }
        }

        .provider {
          color: $font-color-subdue-dark;
        }
      }
    }
  }
}