.object.person {
  & > div {
    @include flexbox;
    @include flex-column;

    &:first-child {
      @include flexbox;
      @include flex-row;
      @include no-select;

      cursor: pointer;

      .user-avatar {
        & > :first-child {
          height: 3em;
          max-width: 3em;
          margin-right: 0.5em;
        }

        & > .default {
          font-size: 2.25em;

          color: white;
          width: 50px;
          height: 50px;

          border-radius: 50%;

          text-align: center;
        }

        & > img {
          width: 50px;
          height: 50px;
        }

        i {
          color: $font-color-subdue;
          width: 1.5em;
          font-size: 2.5em;
        }
      }

      .details {
        @include flexbox;
        @include flex-x-center;

        align-items: flex-start;

        & > div {
          text-align: start;
        }

        .action-bar {
          text-align: right;
          color: $blue;
          margin: 0 auto;
        }
      }

      .provider {
        text-transform: uppercase;
        font-size: 0.85em;
        color: $font-color-subdue;

        i {
          margin-right: 0.25em;
        }
      }

      & > .action-bar {
        & > .share-menu {
          bottom: -1.5em;
        }
      }

      &.share-menu-margin-bottom {
        margin-bottom: 2em;
      }
    }
  }

  & > .hide-button {
    text-align: right;
    cursor: pointer;
    color: $blue;

    &:hover {
      color: $orange;
    }
  }
}

.person-hidden {
  @include flexbox;
  @include flex-grow;
  @include flex-column;
  @include flex-x-center;

  font-size: 1.2em;

  .unhide-button {
    cursor: pointer;
    color: $blue;

    &:hover {
      color: $orange;
    }
  }
}

div#body.dark {
  .object.contact {
    & > div {
      &:first-child {
        .user-avatar {
          i {
            color: $font-color-subdue-dark;
          }
        }

        .provider {
          color: $font-color-subdue-dark;
        }
      }
    }
  }
}