@import "themes/default.scss";
@import "media/media.scss";
@import "mixins/flexbox.scss";
@import "mixins/generic.scss";

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    @include roboto(300);

    height: 100%;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;
    color: $font-color-light;

    pre {
        @include roboto(300);
    }

    ::selection {
        text-shadow: none;
        color: $highlight-color !important;
        background-color: $highlight-background;
    }
}

a {
    @include interactive;

    text-decoration: none;
    color: $blue;
    outline: none;
}

h1,
h2,
h3 {
    margin: 1.5em 0 0.5em;
}

h1,
h2,
h3,
p {
    &:first-child,
    &.no-first {
        margin-top: 0;
    }

    &:last-child,
    &.no-last {
        margin-bottom: 0;
    }
}

pre {
    margin: 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p {
    line-height: 1.5;
    margin: 0 0 1em;
}

footer,
small {
    font-size: 0.85em;
}

b,
strong {
    font-weight: 700 !important;
}

.expand-indicator {
    transform: rotate(180deg);
    top: -1px;

    @media #{$maxwidth768}, #{$mobile} {
        top: 10px;
    }
}

.inputfile {
    background-color: $blue;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    padding: 1em;
}

// Shadows
@mixin box-shadow($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
    }

}

@mixin box-shadow-dark($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25), 0 1px 2px rgba(255, 255, 255, 0.25);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(255, 255, 255, 0.25), 0 3px 6px rgba(255, 255, 255, 0.25);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(255, 255, 255, 0.25), 0 6px 6px rgba(255, 255, 255, 0.25);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.25);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(255, 255, 255, 0.25), 0 15px 12px rgba(255, 255, 255, 0.25);
    }
}

.glow {
    animation: glow 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 4px rgb(255, 173, 90), 0 0 13px #6CC644, 0 0 8px rgb(252, 101, 55), 0 0 19px #2AC1DE, 0 0 7px #6E5494, 0 0 14px #9EFF86, 0 0 7px rgb(255, 89, 38);
    }

    to {
        text-shadow: 0 0 10px rgb(180, 137, 245), 0 0 9px #2AC1DE, 0 0 19px rgb(147, 255, 100), 0 0 3px #FF4DA6, 0 0 13px rgb(243, 178, 113), 0 0 5px #2AC1DE, 0 0 14px rgb(186, 151, 240);
    }
}


.mapbox-logo {
    display: none !important;
}

.mapbox-ctrl-logo {
    display: none !important;
}

.mapbox-ctrl-attrib {
    display: none !important;
}

.boxed-group {
    @include box-shadow(2);
    $border-radius: 2px;

    margin-bottom: 1em;
    border: 1px solid darken($border-color, 10%);
    border-radius: $border-radius $border-radius 0 0;

    &:last-child {
        margin-bottom: 0;
    }

    & > * {
        border-top: 1px solid darken($border-color, 10%);
    }

    & > :first-child {
        padding: 0.2em 0.5em;
        font-size: 1.5em;
        border-top: 0;
        background-color: $background-color;
    }
}

.g-recaptcha {
    $margin: 1.5em;

    position: relative;
    left: -1px;

    margin-top: $margin;
    margin-bottom: $margin;

    &.centered {
        & > div > div {
            @include position-center;
        }
    }
}

.close-button {
    cursor: pointer;

    &:hover {
        color: $red;
    }
}

.hide-button {
    cursor: pointer;
    color: $orange;

    margin-left: 0.5em;

    i {
        color: $orange;
    }

    &:hover {
        color: $blue;

        i {
            color: $blue;
        }
    }
}

.unhide-button {
    cursor: pointer;
    color: $green;

    i {
        color: $green;
    }

    &:hover {
        color: $blue;

        i {
            color: $blue;
        }
    }
}

.tags {
    @include flexbox;
    @include flex-column;
    cursor: pointer;
}

.tag-button {
    color: $blue;
    cursor: pointer;

    & > i {
        color: $blue;
    }
}

.tag-hide {
    margin-top: 0.5em;
    cursor: pointer;
}

.mobile-buttons {
    @include flexbox;
    @include flex-x-center;

    @media #{$maxwidth768}, #{$mobile} {
        @include flex-column;
    }

    button.left-button {
        margin-right: 2em;

        @media #{$maxwidth768}, #{$mobile} {
            margin-right: 0;
            margin-bottom: 1em;
        }
    }
}

i {
    font-weight: 100;
}

div#body {
    @include flexbox;
    @include flex-column;

    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    overflow: hidden;

    &.modal-open {
        & > :not(.modal):not(#minimodal-shade) {
            filter: blur(5px);
        }
    }

    & > header {
        @include box-shadow(2);
        $margin-width: 5px;

        @include no-select;

        padding: $margin-width / 2;
        border-bottom: 1px solid $border-color;

        .logo {
            height: 70px;
            margin: 3px;
            @media #{$maxwidth768}, #{$mobile} {
                height: 40px;
                margin: 0;
            }
        }

        nav {
            @include flexbox;
            @include flex-x-center;
            @include flex-center;

            a {
                @include no-wrap;
            }

            & > * {
                margin: 0 $margin-width;
            }

            & > :first-child {

                position: relative;
                display: flex;

                & > span {
                    position: absolute;
                    bottom: 15px;
                    left: -23px;
                    font-size: 0.8em;
                    color: $blue;
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                }

                @media #{$maxwidth768}, #{$mobile} {
                    margin-left: $margin-width;
                }
            }

            & > :last-child {
                margin-right: $margin-width * 2;

                @media #{$maxwidth768}, #{$mobile} {
                    margin-right: $margin-width;
                }
            }
        }

        #install-notification {
            @include flexbox;
            font-size: 1.2em;

            #install-button {
                color: $blue;
                cursor: pointer;

                margin-left: 1em;

                &:hover {
                    color: $orange;
                }
            }
        }

        & > .controls {
            @include flexbox;
            @include flex-space-between;
            @include flex-x-center;

            padding: 0.2em 0;

            @media #{$maxwidth768}, #{$mobile}  {
                display: none !important;
            }

            & > div:first-child {
                margin-left: 1.25em;
            }

            & > div:last-child {
                margin-right: 1.25em;
            }

            a {
                color: $font-color;

                &.active {
                    color: $orange !important;
                }
            }

            & > .views {
                & > a {
                    text-decoration: none;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 0.5em;
                    }

                    & > i {
                        width: 1.5em;
                    }

                    &:hover {
                        color: $blue;
                    }
                }
            }

            & > .sort {
                @include flexbox;
                @include flex-center;
                @include flex-x-center;

                text-transform: capitalize;

                & > a {
                    @include flexbox;
                    @include flex-space-around;

                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: $blue;
                    }

                    &:not(:last-child) {
                        margin-right: 0.5em;
                    }

                    & > i {
                        width: 1.5em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &.disabled {
                        color: $border-color-light;
                        cursor: initial;

                        &:hover {
                            color: $border-color-light;
                        }
                    }

                    &.active {
                        color: $orange !important;
                    }

                    & > div {
                        padding: 0 0.5em;
                    }
                }
            }

            & > .home-sort .sort {
                @include flexbox;
                @include flex-center;
                @include flex-x-center;

                text-transform: capitalize;

                & > a {
                    @include flexbox;
                    @include flex-space-around;

                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: $green;
                    }

                    &:not(:last-child) {
                        margin-right: 0.5em;
                    }

                    &.active {
                        color: $orange !important;
                    }

                    & > div {
                        padding: 0 0.5em;
                    }
                }
            }

            & > .facets {
                @include flexbox;
                @include flex-x-center;

                position: relative;
                cursor: pointer;

                & > .current {
                    @include flexbox;
                    @include flex-x-center;

                    width: 8.5em;
                    color: $orange;
                    text-transform: capitalize;

                    i {
                        margin-right: 0.5em;
                    }

                    & > .count {
                        color: $font-color;
                    }
                }

                & > .container {
                    @include box-shadow(2);

                    position: absolute;
                    left: -10px;
                    width: 8em;
                    top: 1.7em;
                    z-index: 5;
                    background: $item-background-color;

                    & > .drawer {
                        @include flexbox;
                        @include flex-column;
                        @include flex-start;

                        margin: 0.75em;

                        a {
                            @include flexbox;
                            @include flex-x-center;
                            text-decoration: none;

                            i {
                                margin-right: 0.5em;
                            }

                            &:not(:last-child) {
                                margin-bottom: 0.5em;
                            }

                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }

        .shortcuts {
            @include flexbox;
            @include flex-x-center;

            font-size: 1.2em;
            margin: 0;

            @media #{$maxwidth768}, #{$mobile}  {
                display: none;
            }

            a {
                @include interactive;

                padding: 0.35em;
                color: $font-color;
            }
        }

        #menu-button {
            @include flexbox;
            @include interactive;
            @include pointer;

            font-size: 2.5em;
        }
    }

    & > main {
        @include flexbox;
        @include flex-grow-scrollable;

        overflow-y: auto;

        #content {
            @include flexbox;
            @include flex-column;
            @include flex-grow;

            max-width: 100%;
        }
    }

    & > footer {
        @include align-center;

        padding: 15px;

        & > *:not(:last-child) {
            margin-bottom: 0.35em;
        }
    }

    .instructions {
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.4em;
    }
}

div#body.dark {
    background-color: $background-color-dark;

    $red-override: saturate($red, 15%);
    $green-override: saturate($green, 15%);

    .boxed-group {
        @include box-shadow-dark(2);

        border: 1px solid lighten($border-color-dark, 20%);

        & > * {
            border-top: 1px solid lighten($border-color-dark, 20%);
        }

        & > :first-child {
            background-color: lighten($background-color-dark, 10%);
        }
    }

    & > header {
        background-color: $item-background-color-dark;
        color: $font-color-dark;
        border-bottom: 0;

        .shortcuts > a {
            color: $font-color-dark;
        }
    }

    #filter-editor {
        @include box-shadow-dark(2);
    }

    #filter-list {
        @include box-shadow-dark(2);
    }

    .controls {
        color: $font-color-dark;

        & > .views {
            & > a {
                color: $font-color-dark;

                &.disabled {
                    color: darken($border-color-dark, 20%);

                    &:hover {
                        color: darken($border-color-dark, 20%);
                    }
                }

                & > i {
                    width: 1.5em;
                }
            }
        }

        & > .sort {
            & > a {
                color: $font-color-dark;
            }
        }

        & > .facets {
            color: $font-color-dark;

            .container {
                @include box-shadow-dark(2);

                background-color: $item-background-color-dark;

                .drawer {
                    background-color: $item-background-color-dark;

                    & > a {
                        color: $font-color-dark;
                    }
                }
            }

            .count {
                color: $font-color-dark !important;
            }
        }
    }

    div#body {
        color: $font-color-dark;
    }

    .item {
        background-color: $item-background-color-dark;
        border-color: $border-color-dark;
    }

    .subdue {
        color: $font-color-subdue-dark;
    }

    .red {
        color: $red-override !important;
    }

    .green {
        color: $green-override !important;
    }
}

.page-load-enter-active,
.page-load-leave-active {
    transition: all 0.5s ease-in-out;
}

.page-load-enter,
.page-load-leave-to {
    opacity: 0;
}

.opacity-enter-active,
.opacity-leave-active {
    transition: all 0.5s ease-in-out;
}

.opacity-enter,
.opacity-leave-to {
    opacity: 0;
}
