{
  "sourceType": "unambiguous",
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/transform-flow-strip-types",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ]
}