# dependencies
node_modules
dist/
config/local.json
config/production.json

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
dev.json

.DS_Store
.vscode/settings.json
yarn-error.log
yarn.lock
build/