files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream lifescope_app {
          server 127.0.0.1:3002;
      }

      server {
      	listen 8080 default_server;

      	location /health {
      	  return 204;
      	}

        location / {
      	  return 404;
      	}
      }

      server {
      	listen 8080;
      	server_name app.lifescope.io;

      	if ($http_x_forwarded_proto != 'https') {
      	  return 301 https://$host$request_uri;
      	}

      	add_header Cache-Control "no-cache, private";

      	proxy_buffering off;
      	proxy_read_timeout 15m;
      	proxy_redirect off;

      	proxy_http_version 1.1;
      	proxy_set_header Host $host;
      	proxy_set_header Upgrade $http_upgrade;
      	proxy_set_header Connection "upgrade";
      	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      	proxy_set_header X-Forwarded-Proto https;

      	location /favicon.ico {
      	  return 404;
      	}

      	location /robots.txt {
      	  return 404;
      	}

      	location /connections {
      	  resolver 172.31.0.2;
      	  set $backend "api.lifescope.io";
      	  proxy_set_header HOST api.lifescope.io;
      	  proxy_pass https://$backend;
      	}

      	location /locations {
      	  resolver 172.31.0.2;
      	  set $backend "api.lifescope.io";
      	  proxy_set_header HOST api.lifescope.io;
      	  proxy_pass https://$backend;
      	}

      	location /logout {
      	  resolver 172.31.0.2;
      	  set $backend "api.lifescope.io";
      	  proxy_set_header HOST api.lifescope.io;
      	  proxy_pass https://$backend;
      	}

      	location / {
      	  proxy_pass http://lifescope_app;
      	}
      }

  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      sudo service nginx stop
      service nginx start

container_commands:
 removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
