@import './lifescope-styles/themes/default.scss';
@import './lifescope-styles/components/controls.scss';
@import './lifescope-styles/mixins/flexbox.scss';
@import 'components/color-picker.scss';
@import 'components/cookie-consent.scss';
@import 'components/favorite.scss';
@import 'components/icon-picker.scss';
@import 'components/menu.scss';
@import 'components/search.scss';
@import 'explorer/explorer.scss';
@import 'pages/connections.scss';
@import 'pages/errors.scss';
@import 'pages/home.scss';
@import 'pages/privacy.scss';
@import 'pages/providers.scss';
@import 'pages/settings.scss';
@import 'pages/terms.scss';
@import './lifescope-styles/site.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  @include roboto(300);
  font-size: 10px;

  color: $font-color-light;

  pre {
    @include roboto(300);
  }

  ::selection {
    text-shadow: none;
    color: $highlight-color !important;
    background-color: $highlight-background;
  }
}

a {
  @include interactive;

  text-decoration: none;
  color: $blue;
  outline: none;
}

h1, h2, h3 {
  font-weight: 700;
  margin: 1.5em 0 0.5em 0;
}

h1, h2, h3, p {
  &:first-child,
  &.no-first {
    margin-top: 0;
  }

  &:last-child,
  &.no-last {
    margin-bottom: 0;
  }
}

pre {
  margin: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.55em;
}

h3 {
  font-size: 1.25em;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

footer,
small {
  font-size: 0.85em;
}

b, strong {
  font-weight: 700 !important;
}

div#body {
  position: absolute;
  width: 100%;
  height: 100%;

  @include flexbox;
  @include flex-column;

  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow: hidden;

  &.modal-open {
    & > :not(.modal):not(#minimodal-shade) {
      filter: blur(5px);
    }
  }

  & > .stats {
    & > .connections {

    }

    & > .events {

    }

    & > .searches {

    }
  }

  & > header {
    $margin-width: 10px;

    @include no-select;

    padding: $margin-width / 2;
    border-bottom: 1px solid $border-color;

    .logo {
      height: 40px;
    }

    nav {
      @include flexbox;
      @include flex-x-center;
      @include flex-center;

      a {
        @include no-wrap;
      }

      & > * {
        margin: 0 $margin-width;
      }

      & > :first-child {
        margin-left: $margin-width * 2;

        position: relative;

        & > span {
          position: absolute;
          bottom: 15px;
          left: -23px;
          font-size: 0.8em;
          color: $blue;
          text-transform: uppercase;
          transform: rotate(-90deg);
        }

        @media #{$maxwidth768},#{$mobile} {
          margin-left: 0;
        }
      }

      & > :last-child {
        margin-right: $margin-width * 2;

        @media #{$maxwidth768},#{$mobile} {
          margin-right: 0;
        }
      }
    }
    & > .controls {
      @include flexbox;
      @include flex-space-between;
      @include flex-x-center;

      padding: 0.2em 0;

      @media #{$maxwidth768},#{$mobile}  {
        display: none !important;
      }

      & > div:first-child {
        margin-left: 1.25em;
      }

      & > div:last-child {
        margin-right: 1.25em;
      }

      a {
        color: $font-color;

        &.active {
          color: $orange;
        }
      }

      & > .views {
        & > a {
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $green;
          }

          &:not(:last-child) {
            margin-right: 0.5em;
          }

          & > i {
            margin-right: 0.2em;
          }

          &.disabled {
            color: $border-color-light;
            cursor: initial;

            &:hover {
              color: $border-color-light;
            }
          }
        }
      }

      & > .sort {
        @include flexbox;
        @include flex-center;
        @include flex-x-center;

        text-transform: capitalize;

        & > a {
          @include flexbox;
          @include flex-space-around;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $green;
          }

          &:not(:last-child) {
            margin-right: 0.5em;
          }

          &.active {
            color: $orange;
          }

          & > div {
            padding: 0 0.5em;
          }
        }
      }

      & > .facets {
        @include flexbox;
        @include flex-x-center;

        position: relative;

        & > .current {
          i {
            margin-right: 0.5em;
          }

          width: 8.5em;
          @include flexbox;
          @include flex-x-center;
          color: $orange;
          text-transform: capitalize;

          & > .count {
            color: $font-color;
          }

          & > .facet-select-toggle {
            cursor: pointer;
          }
        }

        & > .container {
          position: absolute;
          left: -10px;
          width: 8em;
          top: 1.7em;
          z-index: 5;
          background: $item-background-color;
          border: 1px solid $border-color;

          & > .drawer {
            @include flexbox;
            @include flex-column;
            @include flex-start;

            margin: 0.75em;

            a {
              @include flexbox;
              @include flex-x-center;

              cursor: pointer;
              text-decoration: none;

              i {
                margin-right: 0.5em;
              }

              &:hover {
                color: $blue;
              }

              &:not(:last-child) {
                margin-bottom: 0.5em;
              }
            }
          }
        }
      }
    }

    .shortcuts {
      @include flexbox;
      @include flex-x-center;

      font-size: 1.2em;
      margin: 0;

      @media #{$maxwidth768},#{$mobile}  {
        display: none;
      }

      a {
        @include interactive;

        padding: 0.35em;
        color: $font-color;
      }
    }

    #menu-button {
      @include flexbox;
      @include interactive;
      @include pointer;

      font-size: 2.5em;
    }
  }

  & > main {
    overflow-y: auto;
    @include flexbox;
    @include flex-grow-scrollable;

    #content {
      @include flexbox;
      @include flex-column;
      @include flex-grow;

      max-width: 100%;
    }
  }

  & > footer {
    @include align-center;

    padding: 15px;

    & > *:not(:last-child) {
      margin-bottom: 0.35em;
    }
  }
}

.instructions {
  text-align: center;
}

.boxed-group {
  $border-radius: 2px;

  border: 1px solid darken($border-color, 10%);
  border-radius: $border-radius $border-radius 0 0;

  &:last-child {
    margin-bottom: 0;
  }

  & > * {
    border-top: 1px solid darken($border-color, 10%);
  }

  margin-bottom: 1em;

  & > :first-child {
    padding: 0.2em 0.5em;
    font-weight: 700;
    font-size: 1.1em;
    border-top: none;
    background-color: $background-color;
  }
}

.g-recaptcha {
  $margin: 1.5em;

  position: relative;
  left: -1px;

  margin-top: $margin;
  margin-bottom: $margin;

  &.centered {
    & > div > div {
      @include position-center;
    }
  }
}

html.dark {
  background-color: $background-color-dark;

  $red-override: saturate($red, 15%);
  $green-override: saturate($green, 15%);

  div#body {
    color: $font-color-dark;
  }

  .item {
    background-color: $item-background-color-dark;
    border-color: $border-color-dark;
  }

  .subdue {
    color: $font-color-subdue-dark;
  }

  .red {
    color: $red-override !important;
  }

  .green {
    color: $green-override !important;
  }

  a {
    color: $green-override;

    &:hover {
      color: $blue;
    }
  }
}

.close-button {
  cursor: pointer;

  &:hover {
    color: $green
  }
}

.mobile-modal-buttons {
  @include flexbox;
  @include flex-x-center;

  @media #{$maxwidth768},#{$mobile} {
    @include flex-column;
  }

  button.left-button {
    margin-right: 2em;

    @media #{$maxwidth768},#{$mobile} {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
}