.item.list {
  @include no-select;

  display: table-row;
  font-size: 1.2em;
  width: 100%;
  cursor: pointer;
  word-break: break-word;
  background-color: $background-color;

  &:nth-child(even) {
    background-color: $border-color;
  }

  > * {
    display: table-cell;
    padding: 0.4em 1em;
  }

  &:hover {
    background-color: darken($border-color, 10%);
  }

  .prettyType, .type, .provider_name, .firstItemType {
    text-transform: capitalize;
  }

  span.date {
    word-break: initial;
  }

  @media #{$maxwidth768},#{$mobile} {
    .title {
      text-overflow: clip;
    }

    .mobile-hide {
      display: none;
    }
  }
}
