.cookie-consent {
  text-align: center;
  position: fixed;

  font-size: 1.1em;
  font-weight: 700;
  bottom: 0.5em;
  right: 0.5em;
  z-index: 20;
  width: 20em;
  padding: 1em;

  background-color: $background-color-dark;
  color: $font-color-subdue-light;

  @media #{$maxwidth768},#{$mobile} {
    width: 100%;
    bottom: 0;
    right: 0;
  }

  & > :not(:last-child) {
    margin-bottom: 0.5em;
  }

  button {
    font-size: 0.85em;
    width: 40%;

    @media #{$maxwidth768},#{$mobile} {
      width: 30%;
    }
  }
}
