.v--modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  & > .v--modal-background-click {
    display: flex;

    max-height: 95% !important;
    min-height: 95% !important;
  }
}

.v--modal-box.v--modal {
  display: flex;
  max-width: 95%;

  top: initial !important;
  left: initial !important;
  width: auto !important;
  height: auto !important;

  margin: auto !important;
  margin-bottom: auto !important;


  @media #{$maxwidth768},#{$mobile} {
    margin-bottom: 3em !important;
  }

  & > .upload {
    max-width: 800px;

    @media #{$maxwidth768},#{$mobile} {
      max-width: 100%;
    }

    input {
      max-width: 100%;
      margin-bottom: 1em;
    }
  }
}
