div#body.explorer {
  &.grid,
  &.list,
  &.feed,
  &.map {
    #menu {
      .menu {
        @media #{$maxwidth768},#{$mobile}  {
          .views, .sort, .facets {
            @include flexbox;
          }
        }
      }
    }
  }
}

#menu {
  @include flexbox;
  @include flex-grow-scrollable(false);

  background-color: $item-background-color;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;

  overflow-y: auto;

  width: 25%;
  height: 100%;
  min-width: 300px;

  border-left: 1px solid $input-border-color;

  transition: width 100ms ease, min-width 100ms ease;

  @media #{$maxwidth768},#{$mobile} {
    width: 90%;
  }

  .menu {
    @include flexbox;
    @include flex-column;

    min-height: 100%;

    & > header {
      @include flexbox;
      @include no-select;

      position: relative;
      padding: 15.5px 15px;
      font-weight: bold;
      font-size: 1.2em;
      border-bottom: 1px solid $input-border-color;
      background-color: $background-color-light;

      #close-menu {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        padding: 0.5em;
        font-size: 1.2em;

        &:hover {
          color: $red;
        }
      }
    }

    & > section {
      & > * {
        border-bottom: 1px solid $border-color;
      }

      a {
        @include flexbox;
        @include flex-x-center;
        @include interactive;

        font-size: 1.5em;
        padding: 15px;
        color: lighten($font-color, 5%);
        text-decoration: none;

        & > i {
          width: 1.5em;
          margin-right: 0.25em;
          margin-left: -0.25em;
          text-align: center;
        }
      }

      .facets, .views, .sort {
        //display: none;
        //
        //& > div:first-child {
        //	text-transform: capitalize;
        //}
        //
        //& > div:last-child {
        //	@include flex-column;
        //	@include flex-space-around;
        //	@include flex-wrap;
        //
        //	text-transform: capitalize;
        //	cursor: pointer;
        //
        //	a {
        //		font-size: 1.3em;

        //		&:not(:last-child) {
        //			margin-bottom: 0.5em;
        //		}
        //	}
        //}
      }

      .views, .sort, .facets {
        @include flex-column;

        display: none;

        a {
          padding: 5px;
        }

        .active {
          color: $orange !important;
        }

        & > div {
          &:first-child {
            @include flexbox;
            @include no-select;
            @include interactive;

            cursor: pointer;
            font-size: 1.5em;
            padding: 0.5em;
            text-transform: capitalize;

            i {
              margin: 0 0.5em 0 0.25em;
            }

            .drawer-label {
              margin-right: 0.25em;
            }

            & > .count {
              color: $font-color;
            }
          }

          &:last-child {
            @include flex-column;
            @include flex-grow;
            @include flex-start;

            padding: 0 0.75em 0.5em 0.75em;

            a {
              @include interactive;
              @include pointer;

              padding-left: 1.25em;
              color: $font-color;
            }
          }
        }
      }
    }

    & > footer {
      @include flexbox;
      @include flex-grow;
      @include flex-end;
      @include flex-column;

      margin-bottom: 0.5em;

      a {
        text-decoration: none;

        color: $blue !important;

        &:hover {
          color: lighten($blue, 25%) !important;
        }
      }

      & > div {
        &:first-child {
          @include flexbox;
          @include flex-row;
          @include flex-space-between;

          font-size: 1.6em;
          margin-bottom: 0.5em;

          > div {
            margin: 0.5em;
          }

          > a {
            margin: 0.5em;
            white-space: nowrap;

            &:first-child {
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        &:last-child {
          @include flexbox;
          @include flex-row;
          @include flex-center;

          font-size: 12px !important;

          span.spacer {
            margin: 0 5px;
          }
        }
      }
    }
  }
}

div#body.dark {
  #menu {
    background-color: $item-background-color-dark;
    color: $font-color-dark;

    border-left: 1px solid $input-border-color-dark;

    .menu {
      & > header {
        border-bottom: 1px solid $input-border-color-dark;
        background-color: $background-color-dark;
      }

      & > section {
        & > * {
          border-bottom: 1px solid $border-color-dark;
        }

        a {
          color: lighten($font-color-dark, 5%);

          &:hover {
            color: $blue;
          }
        }

        .views, .sort, .facets {
          & > div {
            &:first-child {
              & > .count {
                color: $font-color-dark;
              }
            }

            &:last-child {
              color: $font-color-dark;
            }
          }
        }
      }
    }
  }
}