div#body.privacy {
    overflow: visible;

    @media #{$maxwidth768}, #{$mobile} {
        padding: 0.45em 0.35em 0;
    }

    main {
        display: block;
        overflow: visible;
        padding: 1em;

        @media #{$maxwidth768}, #{$mobile} {
            padding: 0.45em 0.35em;
        }
    }
}
