div#body.settings {
  overflow: auto;

  @media #{$maxwidth768},#{$mobile} {
    font-size: 1.5em;
  }

  &.dark {
    aside.mobile-type-selector {
      #pages {
        & > * {
          &:not(:last-child) {
            border-bottom: 1px solid $border-color-dark;
          }
        }
      }
    }

    .settings-menu {
      a {
        color: $font-color-dark;
      }
    }

    .tooltip {
      color: lighten($font-color-dark, 30%);
    }


    main {
      color: $font-color-dark;
      background-color: $background-color-dark;
    }

    #developer {
      .app {
        background-color: $background-color-dark;
        border: 1px solid $border-color-dark;

        &:hover {
          background-color: lighten($background-color, 10%);
        }
      }
    }

    #authorized-apps {
      .app {
        background-color: $background-color-dark;
      }
    }

    #people {
      .person {
        &:not(:last-child) {
          border-bottom: 1px solid $border-color-dark;
        }

        &:hover {
          cursor: pointer;
          background-color: lighten($background-color-dark, 10%);
        }
      }
    }

    #people-create,
    #people-edit {
      .contact-search {
        .temp-contacts {
          border: 1px solid $border-color-dark;

          .temp-contact {
            &:not(:last-child) {
              border-bottom: 1px solid $border-color-dark;
            }

            &:hover {
              background-color: lighten($background-color-dark, 10%);
            }
          }
        }
      }

      .hydrated-contact {
        &:not(:last-child) {
          border-bottom: 1px solid $border-color-dark;
        }
      }
    }
  }

  header {
    @media #{$maxwidth768},#{$mobile}  {
      border-bottom-style: none;

      .mobile-selector {
        display: block !important;

        & > i {
          margin-left: 0.5em;
          width: 1.5em;
        }
      }
    }

    & > nav {
      @include lock-width;
    }

    .mobile-selector {
      @include no-select;

      display: none;
      cursor: pointer;
      margin-top: 0.5em;
      text-align: center;
      font-size: 1.5em;
    }
  }

  aside.mobile-type-selector {
    display: none;

    @media #{$maxwidth768},#{$mobile} {
      &.open {
        display: block;
      }
    }

    #pages {
      @include flexbox;
      @include flex-column;
      @include flex-center;
      @include flex-x-center;

      & > * {
        @include interactive;
        @include no-select;
        @include pointer;

        font-size: 1.35em;
        padding: 0.5em 0.5em;

        width: 50%;
        max-width: 300px;
        text-align: center;

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }

  .settings-menu {

    width: 200px;
    margin-right: 15px;

    & > * {
      font-size: 1.4em;
    }

    a {
      @include interactive;

      text-decoration: none;
      display: block;
      padding: 0.4em 0.5em;
      color: $font-color;
    }
  }

  main {
    display: block;
    overflow: visible;
    padding: 1em;

    & > section {
      @include flexbox;
      @include lock-width;

      @media #{$maxwidth768},#{$mobile}  {
        @include flex-column;
      }

      & > #left {
        @media #{$maxwidth768},#{$mobile}  {
          display: none;
        }
      }

      & > #settings {
        @include flex-grow;
      }
    }
  }

  .modal {
    text-align: center;
  }

  .table {
    & > * > * {
      padding: 0.3em;
    }
  }

  .text-box {
    margin: 0;
  }

  .label {
    font-size: 1em;
    margin-bottom: 0.3em;

    @media #{$maxwidth768},#{$mobile} {
      font-size: 1.2em;
    }

    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  .success-icon {
    margin-left: 5px;
    font-size: 1em;
    position: relative;
    top: 1px;
  }

  #main-menu {
    display: none;

    @media #{$mobile-portrait} {
      @include flexbox;
      width: 1.5em;
      height: 1.5em;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
    }
  }

  #settings {
    @include flex-grow;
    @include no-select;
  }

  .shrink {
    width: 400px;

    @media #{$maxwidth1080},#{$mobile} {
      width: 100%;
    }
  }

  .tooltip {
    margin-left: 3em;
    color: lighten($font-color, 30%);
  }

  &.profile {
    #other-gender {
      margin-top: 0.5em;
    }

    #birthday {
      input {
        margin: 0;
      }
    }
  }

  &.account {
    #deactivate-modal,
    #delete-modal {
      h3 {
        margin-bottom: 0.75em;
      }

      p {
        margin-bottom: 0.5em;

        &:last-of-type {
          margin-bottom: 1.1em;
        }
      }

      button {
        &:first-of-type {
          margin-right: 0.75em;
        }
      }
    }

    #update-password {
      margin-top: 1em;
    }

    #update-email {
      margin-top: 1em;
    }
  }

  .flex-mobile {
    @include flexbox;

    @media #{$maxwidth768},#{$mobile} {
      @include flex-column;

      span {
        height: 1em;
      }
    }
  }

  &.connections {
    $transition-time: 150ms;

    .connection {
      .title {
        position: relative;
        cursor: pointer;

        & > :not(:first-child) {
          padding-left: 5px;
        }

        .icon-name {
          @include flexbox;
          @include flex-x-center;

          @media #{$maxwidth768},#{$mobile} {
            & > .name {
              word-break: break-word;
            }
          }
        }

        .last-run {
          @include flex-grow;

          @media #{$maxwidth768},#{$mobile} {
            margin: 0.5em;

            width: 4em;
          }
        }

        .updates {
          @include flexbox;
          @include flex-end;
          font-size: 0.5em;
          opacity: 0.7;	          
          margin-right: 20px;

          & > * {
            padding-left: 5px;
          }
        }

        .expand-indicator {
          padding: 0 !important;
          margin-left: 5px;
          transition: transform $transition-time ease;

          position: relative;
          top: 1px;

          @media #{$maxwidth768},#{$mobile} {
            position: absolute;
            right: 0;
            top: 8px;
          }
        }

        i.fa-adjust-hue {
          margin: 0 !important;
          padding: 5px !important;
        }

        i {
          margin-right: 0.5em;
          width: 1.5em;
        }
      }

      &.active {
        & > :first-child {
          background-color: $blue;
          color: #FFF;
        }

        .updates {
          opacity: 1;
        }

        .expand-indicator {
          transform: rotate(180deg);
          top: -1px;

          @media #{$maxwidth768},#{$mobile} {
            top: 10px;
          }
        }
      }

      &:not(.active) {
        overflow: hidden;

        & > :not(:first-child) {
          max-height: 0;
          border: none;
        }
      }

      &.disabled {
        .title .updates {
          display: none;
        }

        .title .disabled {
          &:after {
            content: 'Disabled';
            font-size: 0.8em;
            color: firebrick;
            opacity: 0.7;
          }
        }
      }

      &.disabled.active {
        .title .disabled {
          display: none;
        }
      }

      .delete-disable {
        @include flexbox;
        @include flex-x-center;

        @media #{$maxwidth768},#{$mobile} {
          margin-top: 1.5em;
        }
      }

      .reauthorize > button {
        margin-bottom: 0.5em;
      }
    }

    #big-add {
      color: #2ac1de;
      text-decoration: none;
      padding: 10px;
      margin: 25px;
      border-radius: 5px;
      border: 1px dashed darken($border-color, 25%);

      &:hover {
        background-color: darken($background-color, 10%);
      }
    }
  }

  .mobile-flex-center {
    @media #{$maxwidth768},#{$mobile} {
      @include flexbox;
      @include flex-center;

      @media #{$maxwidth400} {
        font-size: 0.8em;
      }
    }
  }

  .oauth-app {
    .form {
      & > div {
        margin-bottom: 1em;

        .title {
          margin-right: 1em;
        }
      }

      .client-keys {
        @include flexbox;
        @include flex-space-between;

        word-break: break-word;

        & > :first-child {
          margin-right: 1em;
        }

        @media #{$maxwidth768},#{$mobile} {
          @include flex-column;
        }
      }

      .redirects {
        .redirect {
          margin: 0.25em 0;

          & > :first-child {
            margin-right: 0.25em;
          }

          i {
            color: $red;
            width: 1.5em;
            cursor: pointer;

            &:hover {
              color: $orange;
            }
          }
        }

        .new-redirect {
          & > :first-child {
            margin-right: 0.25em;
          }

          & > :last-child {
            margin-left: 0.25em;
          }

          i {
            color: $green;

            cursor: pointer;

            &:hover {
              color: $blue
            }
          }
        }
      }
    }
  }

  #developer {
    .app {
      background-color: $background-color;
      border: 1px solid $border-color;
      padding: 0.5em 1em;

      margin-top: 1em;

      font-size: 1.2em;

      &:hover {
        background-color: darken($background-color, 10%);
        cursor: pointer;
      }

      .name {
        margin-right: 1em;
        color: $blue;
      }
    }
  }

  #authorized-apps {
    .app {
      @include flexbox;
      @include flex-space-between;
      @include flex-x-center;

      border: 1px solid $border-color;
      background-color: $background-color;
      padding: 0.25em;

      @media #{$maxwidth768},#{$mobile} {
        @include flex-column;

        & > * {
          margin-bottom: 0.5em;
        }
      }

      & > :first-child {
        & > :first-child {
          margin-right: 0.5em;
        }
      }
    }
  }

  #people-create,
  #people-edit {
    .title {
      font-size: 1.8rem;
    }

    .names {
      & > * {
        margin-bottom: 1em;
      }
    }

    .contact-search {
      @include flexbox;

      @media #{$maxwidth768},#{$mobile} {
        @include flex-column;

        & > * {
          margin-bottom: 0.5em;
        }
      }

      .text-box {
        height: 44.25px;

        @media #{$maxwidth768},#{$mobile} {
          height: inherit;
        }
      }

      .temp-contacts {
        @include flex-grow-scrollable(false);

        overflow-x: hidden;

        margin-left: 0.5em;
        border: 1px solid $border-color;

        height: 200px;

        @media #{$maxwidth768},#{$mobile} {
          margin-left: 0;
        }

        .temp-contact {
          padding: 0.5em;

          &:not(:last-child) {
            border-bottom: 1px solid $border-color;
          }

          &:hover {
            background-color: $background-color;
            cursor: pointer;
          }

          & > *:not(img):not(i) {
            @include flex-grow;

            word-break: break-all;
          }

          & > img,
          & > i {
            margin-right: 0.25em;
            width: 1.5em;
          }
        }
      }
    }

    .hydrated-contact {
      padding: 0.5em;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      & > :first-child {
        & > *:not(img):not(i) {
          @include flex-grow;

          word-break: break-all;
        }

        & > img,
        & > i {
          margin-right: 0.25em;
        }
      }

      .delete {
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  #people {
    .person {
      padding: 0.5em;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      &:hover {
        cursor: pointer;
        background-color: $background-color;
      }

      .top-line {
        margin-bottom: 0.25em;

        img,
        div.default {
          margin-right: 0.25em;
        }

        .name {
          word-break: break-word;
        }
      }

      .contacts {
        word-break: break-word;
      }
    }
  }

  .avatar {
    @include flexbox;
    @include flex-x-center;

    & > .default {
      color: white;
      width: 120px;
      height: 120px;

      border-radius: 50%;
      text-align: center;
      font-size: 5.2em;
    }

    & > img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    i {
      margin: 0 0.25em;

      color: gray;
    }

    &:not(.default-only) {
      i {
        &:hover {
          cursor: pointer;
          color: $blue;
        }
      }
    }
  }
}
