@mixin flexbox {
    display: flex;
}

@mixin flex-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

@mixin flex-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

@mixin flex-center {
    -webkit-box-pack: center;
    justify-content: center;
}

@mixin flex-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@mixin flex-space-around {
    justify-content: space-around;
}

@mixin flex-x-start {
    -webkit-box-align: start;
    align-items: flex-start;
}

@mixin flex-x-stretch {
    -webkit-box-align: stretch;
    align-items: stretch;
}

@mixin flex-x-end {
    -webkit-box-align: end;
    align-items: flex-end;
}

@mixin flex-x-center {
    -webkit-box-align: center;
    align-items: center;
}

@mixin flex-row {
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

@mixin flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

@mixin flex-column {
    -webkit-box-align: vertical;
    flex-direction: column;
}

@mixin flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}

@mixin flex($size: 1) {
    -webkit-box-flex: $size;
    flex: $size;
}

@mixin flex-shrink($size: 1) {
    -webkit-flex-shrink: $size;
    flex-shrink: $size;
}

@mixin flex-grow {
    @include flex;
}

@mixin flex-item-auto {
    align-self: auto;
}

@mixin flex-item-start {
    align-self: flex-start;
}

@mixin flex-item-end {
    align-self: flex-end;
}

@mixin flex-item-center {
    align-self: center;
}

@mixin flex-item-baseline {
    align-self: baseline;
}

@mixin flex-item-stretch {
    align-self: stretch;
}

@mixin flex-grow-scrollable($overflow: true) {
    @include flex-grow;

    @if ($overflow = true) {
        overflow-y: scroll;
    }

    @if ($overflow != true) {
        overflow-y: auto;
    }

    position: relative;

    & > .scroller {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.flexbox {
    display: flex;
}

.flex-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.flex-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.flex-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.flex-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-x-start {
    -webkit-box-align: start;
    align-items: flex-start;
}

.flex-x-stretch {
    -webkit-box-align: stretch;
    align-items: stretch;
}

.flex-x-end {
    -webkit-box-align: end;
    align-items: flex-end;
}

.flex-x-center {
    -webkit-box-align: center;
    align-items: center;
}

.flex-row {
    -webkit-box-orient: horizontal;
    flex-direction: row;
}

.flex-row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    flex-direction: row-reverse;
}

.flex-column {
    -webkit-box-align: vertical;
    flex-direction: column;
}

.flex-column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    @include flex;
}

.flex-item-auto {
    align-self: auto;
}

.flex-item-start {
    align-self: flex-start;
}

.flex-item-end {
    align-self: flex-end;
}

.flex-item-center {
    align-self: center;
}

.flex-item-baseline {
    align-self: baseline;
}

.flex-item-stretch {
    align-self: stretch;
}
