.help-menu {
    z-index: 10015;

    pointer-events: visible;
    border: 1px solid #7b7b7b;
    border-radius: 12px;
    background-color: #2A2A2A;
    color:    #aeaeae;
    /* #e8f1ff; */
    padding: 15px;
    position: absolute;
    top: 6%;
    left: 22.5%;
    width: 55%;
    height: 60%;
    box-sizing: border-box;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 1px #edeeee;
    overflow: scroll;
}

.help-menu.desktop-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* pointer-events: visible; */
}

div.help-menu .desktop-controls {
    line-height: 3em;
}

.help-menu.desktop-menu .help-controls {
    grid-column: 1;
}

.help-menu h2 {
    line-height: 1em;
}

.mobile-controls {
    font-size: 12px;
    line-height: 2em;
}

.mobile-controls > h2 {
    font-size: 16px
}