div#body.explorer.map {
  main {
    & > div {
      height: 100%;
      width: 100%;
    }
  }

  .map-corner {
    position: absolute;

    top: 10px;
    left: 10px;

    padding: 0.2em 0.4em;

    border-radius: 0.4em;

    background-color: $background-color-light;

    &.clickable {
      cursor: pointer;

      &:hover {
        background-color: darken($background-color-light, 10%);
      }
    }
  }

  .spider-leg-container {
    width: 1px;
    height: 1px;
    overflow: display;
    will-change: transform;

    &:hover {
      .spider-leg-line {
        opacity: 1;

        background-color: #f404f4;
      }
    }

    .spider-leg-pin {
      margin-left: -20px;
      margin-top: -20px;
    }

    .spider-leg-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #343434;
      opacity: 0.45;
      transform-origin: bottom;
      z-index: 0;
      height: 0;
    }

    &.animate {
      -webkit-transition: margin 0.15s linear;
      -moz-transition: margin 0.15s linear;
      -ms-transition: margin 0.15s linear;
      -o-transition: margin 0.15s linear;
      transition: margin 0.15s linear;

      .spider-leg-line {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -ms-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;

        -webkit-transition-delay: inherit;
        -moz-transition-delay: inherit;
        -ms-transition-delay: inherit;
        -o-transition-delay: inherit;
        transition-delay: inherit;

        &.initial,
        &.exit {
          .spider-leg-line {
            height: 0 !important;
          }
        }
      }
    }

    &.initial,
    &.exit {
      margin-left: 0 !important;
      margin-top: 0 !important;
      height: 0;
    }
  }

  .map-marker {
    z-index: 1;
    cursor: pointer;

    top: -25px;
    left: 3px;

    width: 40px;
    height: 40px;
    font-size: 20px;

    i.type-icon {
      color: white;
      margin-left: -2px;
    }

    i.fill-circle {
      margin-top: 3px;
      font-size: 1.5em;
    }

    .fa-stack-3x {
      font-size: 3em;
    }

    .fa-stack-4x {
      font-size: 4em;
    }
  }
}
