div#body.explorer.map {
  $control-margin: 10px;

  main {
    position: relative;
  }

  #map-container {
    @include flexbox;
    @include flex-grow;

    #left {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;

      &.expanded {
        width: 25%;
        min-width: 400px;

        #expand-details {
          left: 100%;
        }
      }

      #expand-details {
        position: absolute;
        top: $control-margin;
        left: $control-margin;
        z-index: 15;

        width: 1.25em;
        height: 1.25em;

        font-size: 1.5em;
        cursor: pointer;

        @include flexbox;
        @include flex-x-center;
        @include flex-center;

        i {
          position: relative;

          &.fa-caret-right {
            left: 1px;
          }

          &.fa-caret-left {
            left: -1px;
          }
        }
      }
    }

    #list-scroll {
      @include flexbox;
      @include flex-grow;

      margin: $control-margin;
      overflow-y: auto;
      max-height: 45%;
      width: 95%;

      #list {
        @include hide-empty;

        display: table;
        border-collapse: collapse;
        width: 100%;

        .list-item {
          display: table-row !important;
          font-size: 1.2em;
          width: 100%;
          cursor: pointer;

          &:nth-child(even) {

          }

          > * {
            display: table-cell !important;
            padding: 0.4em 1em;
          }

          &:hover {

          }

          &.active {

          }
        }
      }
    }
  }
}
